# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
.venv/
env/
venv.bak/
.env

# PyInstaller 打包产物
build/
dist/
# 排除所有 spec，但保留 v15 的作为参考
*.spec
!PDFToImage_v15.spec

# 编辑器配置
.vscode/
.idea/

# 操作系统文件
Thumbs.db
desktop.ini

# 本地图标或临时文件
*.log
*.ico.bak
